Repository guillempuche/text-to-speech: changes, and which lefthook commands are due for each by the changed paths.
All: dprint, ruff

dprint:
  run: 'echo "Formatting Markdown/JSON/TOML..."
  
    dprint fmt {staged_files}
  
    '
  stage_fixed: true

ruff:
  run: 'echo "Formatting Python..."
  
    ruff check --fix {staged_files}
  
    ruff format {staged_files}
  
    '
  stage_fixed: true

infra: add uv with pyproject.toml and update flake for auto-sync
  flake.lock
  flake.nix
  pyproject.toml
Due: dprint

scripts(fish_audio): rewrite upload script with cyclopts and fishaudio SDK
  .env.example
  fish_audio/scripts/upload_samples.py
Due: ruff

voice(samples): add transcript files for English and Spanish samples
  samples/en_1.txt
  samples/en_2.txt
  samples/en_3.txt
  samples/en_4.txt
  samples/en_5.txt
  samples/en_6.txt
  samples/es_1.txt
  samples/es_2.txt
  samples/es_3.txt
  samples/es_4.txt
  samples/es_5.txt
  samples/es_6.txt
Due: none

docs: rewrite READMEs with setup, usage, and transcript conventions
  AGENTS.md
  README.md
  fish_audio/README.md
Due: dprint

chore: update gitignore and format commit skill tables
  .claude/skills/commits/SKILL.md
  .gitignore
Due: dprint

chore: rename fish_audio to voice_cloning
  voice_cloning/README.md
  voice_cloning/scripts/upload_samples.py
Due: dprint, ruff

tts: add generate script
  tts/README.md
  tts/scripts/generate.py
Due: dprint, ruff

infra: fix pyproject.toml dependency and rename project
  pyproject.toml
Due: dprint

docs: add fish-audio reference and update documentation
  AGENTS.md
  README.md
  docs/fish-audio.md
Due: dprint

ai: update commit skill for tts
  .claude/skills/commits/SKILL.md
Due: dprint

infra: fix fishaudio dependency and add ffmpeg
  flake.nix
  pyproject.toml
Due: dprint

scripts(voice_cloning): add audio format conversion to wav
  voice_cloning/scripts/upload_samples.py
Due: ruff

voice: rewrite english transcripts with emotional range
  samples/en_1.txt
  samples/en_2.txt
  samples/en_3.txt
  samples/en_4.txt
  samples/en_5.txt
  samples/en_6.txt
Due: none

docs: clarify setup instructions for newcomers
  README.md
Due: dprint

scripts: restructure to unified src/tts package
  pyproject.toml
  src/tts/__init__.py
  src/tts/__main__.py
  src/tts/cli.py
  src/tts/commands/__init__.py
  src/tts/commands/configure.py
  src/tts/commands/generate.py
  src/tts/commands/update.py
  src/tts/commands/voice.py
  src/tts/common.py
  tts/README.md
  voice_cloning/README.md
Due: dprint, ruff

infra: add release workflow and changelog
  .github/workflows/release.yml
  CHANGELOG.md
Due: dprint

ai: add release and bdd test skills with test suite
  .claude/skills/commits/SKILL.md
  .claude/skills/generate-bdd-tests/SKILL.md
  .claude/skills/generate-bdd-tests/references/examples.md
  .claude/skills/generate-bdd-tests/references/patterns.md
  .claude/skills/release/SKILL.md
  tests/conftest.py
  tests/test_cli.py
  tests/test_common.py
  tests/test_configure.py
  tests/test_generate.py
  tests/test_update.py
  tests/test_voice.py
Due: dprint, ruff

docs: update readme, agents, and fish-audio reference
  AGENTS.md
  README.md
  docs/fish-audio.md
Due: dprint

release: v2026.01.25
  CHANGELOG.md
  pyproject.toml
  src/tts/__init__.py
Due: dprint, ruff

infra: fix pyapp wheel path in release workflow
  .github/workflows/release.yml
  AGENTS.md
  CONTRIBUTING.md
  README.md
Due: dprint

infra: add pyapp project name and version env vars
  .github/workflows/release.yml
Due: none

docs: remove template from changelog
  CHANGELOG.md
Due: dprint

tts: add config system with TOML storage
  src/tts/config.py
  tests/test_config.py
Due: ruff

tts: add keyring storage for API keys
  pyproject.toml
  src/tts/common.py
  tests/conftest.py
  tests/test_common.py
Due: dprint, ruff

tts: rewrite configure with subcommands
  src/tts/cli.py
  src/tts/commands/configure.py
  tests/test_configure.py
Due: ruff

tts: add glob patterns and config defaults to generate
  src/tts/commands/generate.py
  tests/test_generate.py
Due: ruff

docs: update readme with visual and command reference
  README.md
Due: dprint

release: v2026.01.25.1
  CHANGELOG.md
  pyproject.toml
  src/tts/__init__.py
Due: dprint, ruff

infra: add cross-platform install scripts with checksum verification
  .github/workflows/release.yml
  README.md
  install.ps1
  install.sh
Due: dprint

release: v2026.01.27
  CHANGELOG.md
  pyproject.toml
  src/tts/__init__.py
Due: dprint, ruff

ai: add auto-allow permissions for common commands
  .claude/settings.json
Due: dprint

infra: add cross-platform uninstall scripts
  uninstall.ps1
  uninstall.sh
Due: none

docs: add uninstall section to readme
  README.md
Due: dprint

docs: reorganize agents.md with key files reference
  AGENTS.md
Due: dprint

release: v2026.01.27.1
  .claude/settings.json
  CHANGELOG.md
  pyproject.toml
  src/tts/__init__.py
Due: dprint, ruff

tts: add voice list command with detailed output
  src/tts/commands/voice.py
  tests/test_voice.py
Due: ruff

release: v2026.01.31
  CHANGELOG.md
  pyproject.toml
  src/tts/__init__.py
Due: dprint, ruff

tts: add auto-update with checksum verification
  src/tts/commands/update.py
  tests/test_update.py
Due: ruff

docs: restructure readme with features and use cases
  README.md
Due: dprint

chore: add seo metadata to pyproject
  pyproject.toml
Due: dprint

Path conditions:
  dprint: any of: *.{md,json,toml}
  ruff: any of: *.py
